# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Production
abi/
build/
artifacts/

# coverage
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# Logs
yarn-debug.log*
yarn-error.log*
