# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
package-lock.json

# Production
build/

# Logs
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/*

# Misc
.DS_Store
