# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
package-lock.json

# Production
build/
abi/
artifacts/
cache/

# coverage
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# Logs
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/*

# Misc
.DS_Store

bytecode
