language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '10'
before_script:
  - npm prune
jobs:
  include:
    - stage: tests
      script: npm run lint
      name: "Lint"
    - stage: tests
      script: npm test test/disputes/disputes-{create,evidence,draft}.js
      name: "Court Disputes"
    - stage: tests
      script: npm test test/disputes/disputes-{voting,appeal,confirm-appeal}.js
      name: "Court Appeals"
    - stage: tests
      script: npm test test/disputes/disputes-settle-round.js
      name: "Court Settle Rounds"
    - stage: tests
      script: npm test test/disputes/disputes-settle-appeal.js
      name: "Court Settle Appeals"
    - stage: tests
      script: npm test test/registry/*.js
      name: "Registry"
    - stage: tests
      script: npm test test/lib/*.js
      name: "Lib"
    - stage: tests
      script: npm test test/voting/*.js
      name: "Voting"
    - stage: tests
      script: npm test test/subscriptions/*.js
      name: "Subscriptions"
    - stage: tests
      script: npm test test/treasury/court-treasury.js
      name: "Treasury"
    - stage: tests
      script: npm test test/court/**/*.js test/court/*.js test/arbitrable/*.js
      name: "Court"
