name: CI

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Lint
      run: yarn workspace @aragon/protocol lint

  court_controller:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Court Controller
      run: yarn workspace @aragon/protocol test test/court/**/*.js test/court/*.js test/arbitration/*.js

  court_disputes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Court Disputes
      run: yarn workspace @aragon/protocol test test/disputes/disputes-{create,evidence,draft}.js

  court_appeals:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Court Appeals
      run: yarn workspace @aragon/protocol test test/disputes/disputes-{voting,appeal,confirm-appeal}.js

  court_settle_rounds:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Court Settle Rounds
      run: yarn workspace @aragon/protocol test test/disputes/disputes-settle-round.js

  court_settle_appeals:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Court Settle Appeals
      run: yarn workspace @aragon/protocol test test/disputes/disputes-settle-appeal.js

  registry:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Registry
      run: yarn workspace @aragon/protocol test test/registry/*.js

  lib:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Lib
      run: yarn workspace @aragon/protocol test test/lib/*.js

  voting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Voting
      run : yarn workspace @aragon/protocol test test/voting/*.js

  subscriptions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Subscriptions
      run: yarn workspace @aragon/protocol test test/subscriptions/*.js

  controller:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Treasury
      run: yarn workspace @aragon/protocol test test/treasury/court-treasury.js

env:
  CI: true
